# Read data from the CSV file

#### First, try using the CSV package

In [29]:
# with using csv module

import csv

with open('Citywide_Payroll_Data__Fiscal_Year_.csv','r') as my_file:
    my_reader = csv.reader(my_file)
    fields = next(my_reader)
print (fields)

['Fiscal Year', 'Agency Name', 'Last Name', 'First Name', 'Mid Init', 'Agency Start Date', 'Work Location Borough', 'Title Description', 'Leave Status as of June 30', 'Base Salary', 'Pay Basis', 'Regular Hours', 'Regular Gross Paid', 'OT Hours', 'Total OT Paid', 'Total Other Pay']

In [30]:
# without using csv module

my_file = open('Citywide_Payroll_Data__Fiscal_Year_.csv','r')
#my_reader = csv.reader(my_file)
fields = next(my_file)
print (fields)

Fiscal Year,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay

In [3]:
import csv

fields = []
rows = []

with open('mytest_csvfile.csv','r') as my_file:
    my_reader = csv.reader(my_file)
    fields = next(my_reader)
    #my_file.seek(0)
    for row in my_reader:
        rows.append(row)
        #print(', '.join(row))

#print('\n'+', '.join(row))
#print(fields,'\n')
#print(rows)

print('\nno. of rows = %d\n'%(my_reader.line_num))

print('Field names are: '+', '.join(field for field in fields)+'\n')

print('The first 5 columns of the first 3 rows are:\n')
for row in rows[:3]:
    print(', '.join(row[:5])+'\n')
#    for col in row:
#        print('%10s'%col)
#    print('\n')

no. of rows = 6

Field names are: Fiscal Year, Agency Name, Last Name, First Name, Mid Init, Agency Start Date, Work Location Borough, Title Description, Leave Status as of June 30, Base Salary, Pay Basis, Regular Hours, Regular Gross Paid, OT Hours, Total OT Paid, Total Other Pay

The first 5 columns of the first 3 rows are:

2016, DISTRICT ATTORNEY-MANHATTAN   , ABA'AHMID, RAHASHEEM, E

2016, DISTRICT ATTORNEY-MANHATTAN   , ABENSUR, MARGARET,

2016, DISTRICT ATTORNEY-MANHATTAN   , ABOUNAOUM, ANDREA, L

In [ ]:
''' 
memo:
    you may use Python vanilla file i/o to deal with files, 
    but in that way you need to take care of everything in detail. 
    It gives you a lot of flexibility but it could also be tedious. 
    CSV package and pandas packages try to optimize or automate some part of those routine operation 
    so that make the tasks more efficient. 
    
    ', '.join(row) only operate on a single list 
'''

#### Then, try using Pandas package. Compare the strength and weakness of each method.

In [19]:
import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt

my_df = pd.read_csv('mytest_csvfile.csv',dtype='unicode') # sep=',', index_col='Last Name'
my_df

,Fiscal Year,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2016,DISTRICT ATTORNEY-MANHATTAN,ABA'AHMID,RAHASHEEM,E,07/14/2003,MANHATTAN,COMMUNITY ASSOCIATE ...,ACTIVE,$47678.00,per Annum,1830,$47166.03,2.25,$57.28,$0.00
1,2016,DISTRICT ATTORNEY-MANHATTAN,ABENSUR,MARGARET,NaN,06/12/1995,MANHATTAN,ADMINISTRATIVE ACCOUNTANT ...,ACTIVE,$119959.00,per Annum,1831,$119042.50,0,$0.00,$0.00
2,2016,DISTRICT ATTORNEY-MANHATTAN,ABOUNAOUM,ANDREA,L,10/11/2011,MANHATTAN,COMMUNITY ASSOCIATE ...,ON LEAVE,$39966.00,per Annum,1181.68,$27452.62,1,$21.34,$33.00
3,2016,DISTRICT ATTORNEY-MANHATTAN,ABRAHAM,JONATHAN,J,12/01/2014,MANHATTAN,COMPUTER SYSTEMS MANAGER ...,ACTIVE,$116000.00,per Annum,1831,$115104.57,0,$0.00,$0.00
4,2016,DISTRICT ATTORNEY-MANHATTAN,ABRAMS,JOSEPH,NaN,05/21/2015,MANHATTAN,COLLEGE AIDE ...,CEASED,$1.00,per Hour,0,$3500.00,0,$0.00,$0.00

In [43]:
list(my_df['Fiscal Year'])

['2016', '2016', '2016', '2016', '2016']

In [49]:
# my_lst=list(my_df['Fiscal Year'])
[int(i) for i in my_df['Fiscal Year']]

[2016, 2016, 2016, 2016, 2016]

In [48]:
list(map(int, my_df['Fiscal Year']))

[2016, 2016, 2016, 2016, 2016]

In [33]:
my_df.head(2)
#my_df.tail(3)

,Fiscal Year,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2016,DISTRICT ATTORNEY-MANHATTAN,ABA'AHMID,RAHASHEEM,E,07/14/2003,MANHATTAN,COMMUNITY ASSOCIATE ...,ACTIVE,$47678.00,per Annum,1830,$47166.03,2.25,$57.28,$0.00
1,2016,DISTRICT ATTORNEY-MANHATTAN,ABENSUR,MARGARET,NaN,06/12/1995,MANHATTAN,ADMINISTRATIVE ACCOUNTANT ...,ACTIVE,$119959.00,per Annum,1831,$119042.50,0,$0.00,$0.00

In [31]:
my_df[:2]['Title Description'] # direction has no affects

0    COMMUNITY ASSOCIATE                           ...
1    ADMINISTRATIVE ACCOUNTANT                     ...
Name: Title Description, dtype: object

In [93]:
# display fields
my_df.columns

Index(['Fiscal Year', 'Agency Name', 'Last Name', 'First Name', 'Mid Init', 'Agency Start Date', 'Work Location Borough', 'Title Description', 'Leave Status as of June 30', 'Base Salary', 'Pay Basis', 'Regular Hours', 'Regular Gross Paid', 'OT Hours', 'Total OT Paid', 'Total Other Pay'], dtype='object')

In [29]:
# display first 3 columns
my_df[:3][my_df.columns[:3]]

  Fiscal Year                     Agency Name  Last Name
0        2016  DISTRICT ATTORNEY-MANHATTAN     ABA'AHMID
1        2016  DISTRICT ATTORNEY-MANHATTAN       ABENSUR
2        2016  DISTRICT ATTORNEY-MANHATTAN     ABOUNAOUM

In [78]:
rng = pd.date_range('1/1/2011', periods=72, freq='H')
rng[:5]

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00', '2011-01-01 02:00:00', '2011-01-01 03:00:00', '2011-01-01 04:00:00'], dtype='datetime64[ns]', freq='H')

# Data Structure

#### Load data into a list of records, and each record is a list of fields

In [9]:
import pandas as pd

my_df = pd.read_csv('mytest_csvfile.csv')
my_lst = []

my_lst = [list(my_df[col]) for col in my_df.columns]
my_lst

[[2016, 2016, 2016, 2016, 2016],
 ['DISTRICT ATTORNEY-MANHATTAN   ',
  'DISTRICT ATTORNEY-MANHATTAN   ',
  'DISTRICT ATTORNEY-MANHATTAN   ',
  'DISTRICT ATTORNEY-MANHATTAN   ',
  'DISTRICT ATTORNEY-MANHATTAN   '],
 ["ABA'AHMID", 'ABENSUR', 'ABOUNAOUM', 'ABRAHAM', 'ABRAMS'],
 ['RAHASHEEM', 'MARGARET', 'ANDREA', 'JONATHAN', 'JOSEPH'],
 ['E', nan, 'L', 'J', nan],
 ['07/14/2003', '06/12/1995', '10/11/2011', '12/01/2014', '05/21/2015'],
 ['MANHATTAN    ',
  'MANHATTAN    ',
  'MANHATTAN    ',
  'MANHATTAN    ',
  'MANHATTAN    '],
 ['COMMUNITY ASSOCIATE                                         ',
  'ADMINISTRATIVE ACCOUNTANT                                   ',
  'COMMUNITY ASSOCIATE                                         ',
  'COMPUTER SYSTEMS MANAGER                                    ',
  'COLLEGE AIDE                                                '],
 ['ACTIVE', 'ACTIVE', 'ON LEAVE', 'ACTIVE', 'CEASED'],
 ['$47678.00', '$119959.00', '$39966.00', '$116000.00', '$1.00'],
 [' per Annum', ' per Annum', ' per Annum', ' per Annum', ' per Hour'],
 [1830.0, 1831.0, 1181.6800000000001, 1831.0, 0.0],
 ['$47166.03', '$119042.50', '$27452.62', '$115104.57', '$3500.00'],
 [2.25, 0.0, 1.0, 0.0, 0.0],
 ['$57.28', '$0.00', '$21.34', '$0.00', '$0.00'],
 ['$0.00', '$0.00', '$33.00', '$0.00', '$0.00']]

#### Load data into a list of dictionary

In [10]:
import pandas as pd

my_df = pd.read_csv('mytest_csvfile.csv')

my_dict = {col:list(my_df[col]) for col in my_df.columns}
my_dict

{'Agency Name': ['DISTRICT ATTORNEY-MANHATTAN   ',
  'DISTRICT ATTORNEY-MANHATTAN   ',
  'DISTRICT ATTORNEY-MANHATTAN   ',
  'DISTRICT ATTORNEY-MANHATTAN   ',
  'DISTRICT ATTORNEY-MANHATTAN   '],
 'Agency Start Date': ['07/14/2003',
  '06/12/1995',
  '10/11/2011',
  '12/01/2014',
  '05/21/2015'],
 'Base Salary': ['$47678.00',
  '$119959.00',
  '$39966.00',
  '$116000.00',
  '$1.00'],
 'First Name': ['RAHASHEEM', 'MARGARET', 'ANDREA', 'JONATHAN', 'JOSEPH'],
 'Fiscal Year': [2016, 2016, 2016, 2016, 2016],
 'Last Name': ["ABA'AHMID", 'ABENSUR', 'ABOUNAOUM', 'ABRAHAM', 'ABRAMS'],
 'Leave Status as of June 30': ['ACTIVE',
  'ACTIVE',
  'ON LEAVE',
  'ACTIVE',
  'CEASED'],
 'Mid Init': ['E', nan, 'L', 'J', nan],
 'OT Hours': [2.25, 0.0, 1.0, 0.0, 0.0],
 'Pay Basis': [' per Annum',
  ' per Annum',
  ' per Annum',
  ' per Annum',
  ' per Hour'],
 'Regular Gross Paid': ['$47166.03',
  '$119042.50',
  '$27452.62',
  '$115104.57',
  '$3500.00'],
 'Regular Hours': [1830.0, 1831.0, 1181.6800000000001, 1831.0, 0.0],
 'Title Description': ['COMMUNITY ASSOCIATE                                         ',
  'ADMINISTRATIVE ACCOUNTANT                                   ',
  'COMMUNITY ASSOCIATE                                         ',
  'COMPUTER SYSTEMS MANAGER                                    ',
  'COLLEGE AIDE                                                '],
 'Total OT Paid': ['$57.28', '$0.00', '$21.34', '$0.00', '$0.00'],
 'Total Other Pay': ['$0.00', '$0.00', '$33.00', '$0.00', '$0.00'],
 'Work Location Borough': ['MANHATTAN    ',
  'MANHATTAN    ',
  'MANHATTAN    ',
  'MANHATTAN    ',
  'MANHATTAN    ']}

# Define a function and call it. For example, define a function that removes ‘$’ and ‘,’ in a salary string and convert it to float type.

In [16]:
# using ''.join to remove perticular characters

import pandas as pd

my_df = pd.read_csv('mytest_csvfile.csv')

def str2float(str_lst):
    '''removes $ in a salary string and convert it to float type'''

    float_lst = []
    for x in str_lst:
        float_lst.append(float(''.join(c for c in x if c not in ',$')))
    return float_lst

In [4]:
# using .replace to remove perticular characters, more efficient solution?

import pandas as pd

my_df = pd.read_csv('mytest_csvfile.csv',dtype='str')

def str2float(str_lst):
    '''removes $ in a salary string and convert it to float type'''

    float_lst = []
    
    for x in str_lst:
        float_lst.append(float(x.replace('$','').replace(',','')))
    return float_lst

In [5]:
str_lst=['$5,007.28', '$0.00', '$21,000.34', '$0.00', '$0.00']
str2float(str_lst)

[5007.28, 0.0, 21000.34, 0.0, 0.0]

In [67]:
str2float(list(my_df['Base Salary']))

[47678.0, 119959.0, 39966.0, 116000.0, 1.0]

In [19]:
my_df['Base Salary']

0     $47678.00
1    $119959.00
2     $39966.00
3    $116000.00
4         $1.00
Name: Base Salary, dtype: object

In [58]:
# another trial: using map to float strings (slow???)

def str2float(str_lst):
    '''removes $ in a salary string and convert it to float type'''

    float_lst = []
    
    for x in str_lst:
        float_lst.append(x.replace('$','').replace(',',''))
    
    float_lst=list(map(float,float_lst))
    
    return float_lst

str_lst=['$5,007.28', '$0.00', '$21,000.34', '$0.00', '$0.00']
str2float(str_lst)

[5007.28, 0.0, 21000.34, 0.0, 0.0]

In [74]:
# another trial: using for loop to float strings (slow,slow,very slow)

str_lst=['$5,007.28', '$0.00', '$21,000.34', '$0.00', '$0.00']
float_lst = []  
for x in str_lst:
    float_lst.append(x.replace('$','').replace(',',''))
float_lst=[float(i) for i in float_lst]
float_lst

[5007.28, 0.0, 21000.34, 0.0, 0.0]

In [73]:
# what if not using for loop

str_lst=['$5,007.28', '$0.00', '$21,000.34', '$0.00', '$0.00']
float_lst = []  
float_lst.append(x.replace('$','').replace(',','') for x in str_lst)
#float_lst=[float(i) for i in float_lst]
float_lst

In [78]:
#calculate program run time using datetime

from datetime import datetime
start=datetime.now()

#Statements

print (datetime.now()-start)

0:00:00

In [80]:
#calculate program run time, using timeit
import timeit

start = timeit.default_timer()

#Your statements here

stop = timeit.default_timer()

print (stop - start)

9.53018159641772e-05